@charset "UTF-8";

html {
   box-sizing: border-box;
   touch-action: manipulation;
}

*, *:before, *:after {
   box-sizing: inherit;
}

body {
   align-items: center;
   background-color: rgb(30, 15, 0);
   color: rgb(255, 250, 245);
   display: flex;
   flex-direction: column;
   font-family: Georgia, serif;
   justify-content: center;
}

h1 {
   color: rgb(150, 180, 210);
   text-align: center;
}

.game {
   align-items: center;
   display: flex;
   flex-direction: row;
   justify-content: center;
}

.game-area {
   align-items: center;
   background-color: rgb(90, 105, 120);
   border-color: rgb(60, 60, 60);
   border-style: solid;
   border-width: 10px;
   display: flex;
   flex-direction: column;
   justify-content: center;
   margin: 10px;
   padding: 10px;
}

.row {
   align-items: center;
   display: flex;
   flex-direction: row;
   justify-content: center;
}

.space {
   align-items: center;
   background-color: rgb(60, 60, 60);
   border-color: rgb(120, 120, 120);
   border-style: solid;
   border-width: 10px;
   color: rgb(255, 255, 255);
   display: flex;
   height: 100px;
   justify-content: center;
   margin: 10px;
   padding: 10px;
   width: 100px;
}

.space.d {
   border-color: rgb(60, 120, 180);
}

.space.g {
   border-color: rgb(120, 180, 60);
}

.space.v {
   border-color: rgb(180, 120, 60);
}

.space.z {
   border-color: rgb(120, 60, 180);
}

.space.e {
   border-style: dashed;
}

.space.i {
   border-style: dotted;
}

.space.o {
   border-style: solid;
}

.space.u {
   border-style: double;
}

.space.legal-move {
   background-color: rgb(0, 0, 0);
   cursor: pointer;
}

.space.token {
   border-color: rgb(45, 45, 45);
   border-radius: 50px;
}

.space.token.player1 {
   background-color: rgb(0, 120, 60);
}

.space.token.player2 {
   background-color: rgb(120, 0, 60);
}

@media screen and (prefers-color-scheme: light) {
   body {
      background-color: rgb(255, 250, 245);
      color: rgb(30, 15, 0);
   }

   h1 {
      color: rgb(30, 60, 90);
   }

   .game-area {
      background-color: rgb(245, 250, 255);
      border-color: rgb(170, 170, 170);
   }

   .space {
      background-color: rgb(85, 85, 85);
      border-color: rgb(170, 170, 170);
   }

   .space.d {
      border-color: rgb(85, 170, 255);
   }

   .space.g {
      border-color: rgb(170, 255, 85);
   }

   .space.v {
      border-color: rgb(255, 170, 85);
   }

   .space.z {
      border-color: rgb(170, 85, 255);
   }

   .space.token {
      border-color: rgb(170, 170, 170);
   }

   .space.token.player1 {
      background-color: rgb(0, 170, 85);
   }

   .space.token.player2 {
      background-color: rgb(170, 0, 85);
   }
}
